/*

*/
table {
	/*width: 630px;*/
	border: 1px solid #DDD;
	margin-left: auto;
	margin-right: auto
}



tr td {
	width: 40px;
	height: 40px;
	border: 1px solid #DDD;
	text-align: center;
    vertical-align: middle;
    font-size: 26px;
    background-color: #f5fffa;
}

.SelNum {
	text-align: center;
	font-size: 40px;
}

.numbutton {
	display: inline-block;
	font-size: 0.8em;
	padding: 20px 25px;
	text-decoration: none;
	background: #668ad8;/*É{É^ÉìêF*/ color: #FFF;
	border-bottom: solid 4px #627295;
	border-radius: 3px;
}

span {
	margin: 10px;
}